@font-face {
    font-family: adnan-virgo;
    src: url(svg/virgo_01/virgo.ttf);
}

body{
    display: flex;
    font-size: 62.5%;
    width: 100vw;
    /* height: 100vh; */
}

h2{
    /* margin-left: 15px; */
    font-family: adnan-virgo;
    color: white;
    font-size: 1rem;
}

.left-side{
    height: 100vh;
    width: 30vw;
    background-color: rgb(11, 145, 145);
    display: flex;
    align-items: center;
    justify-content: center;
    /* filter: blur(1rem); */

}

.right-side{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 70%;
    /* background-color: gray; */
    background-color: rgb(205, 202, 202);
    align-items: center;
    justify-content: center;
}

.info-sec{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.226);
    text-align: center;
    width: 100%;
}

img{
    width: 20px;
    height: 20px;
}

.logo{
    width: 120px;
    height: 120px;

}


.upper-right-header{
    display: flex;
}

ul{
    list-style: none;
    display: flex;
    gap: 8px;
}

.text-div{
    /* text-align: center; */
    width: 8rem;
    font-size: 1rem;
    font-family: Helvetica, sans-serif;
}

span{
    color: rgb(219, 22, 22);
}

form{
    font-size: .9rem;
    color: black;
    background-color: white;

    /* font-family: adnan-virgo; */
    font-family: Georgia, 'Times New Roman', Times, serif;
    /* border-radius: 8px; */
    padding: 8px;
    /* height: 75vh; */
    width: 100%;
    /* align-items: center;
    justify-content: center; */
    padding: 0;
    padding-top: 18px;
    padding-bottom: 28px;

    box-shadow: 0 6px 2px rgba(0, 0, 0, 0.422);
}

fieldset{
    display: flex;
    border: none;
    gap: 20px;
    flex-wrap: wrap;
    padding: 0;
    padding-left: 15px;
}

.info-container{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

legend{
    text-align: center;
    font-family: adnan-virgo;
    font-size: 1.2rem;
    color: #8635fc;
    margin-bottom: 30px;
}

input{
    /* background-color: rgb(229, 227, 227); */
    border-radius: 4px;
    border: none;
    width: 15rem;
    border : 1px solid gray;
}
label{
    margin-right: 4px;
}
input:focus{
    outline: none;
    font-family: sans-serif;
}

button{
    border-radius: 8px;
    /* background-color: rgb(20, 80, 2); */
    background-color: rgb(11, 145, 145);
    border: none;
    width: 8rem;
    padding: 10px 15px 10px 15px;
    height: 2rem;
    margin-top: 20px;
}

button:active{
    transform: scale(.8);
}